<a href="https://colab.research.google.com/github/Arthur27012402/2024.1-Algoritmos-e-Estruturas-de-Dados-Arthur-Barreto/blob/main/07_repeti%C3%A7%C3%A3o_com_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
contador = 0
for x in ['spam','eggs','bacon']:
  contador += 1
  print(f"{contador}: {x}")

1: spam
2: eggs
3: bacon

In [4]:
contador = 0
for x in ['spam','eggs','bacon']:

  print(f"{contador}: {x}")
  contador += 1

0: spam
1: eggs
2: bacon

In [6]:
T = [(1,2), (3,4), (5,6)]
for (a,b) in T :
  print(a,"e",b)

1 e 2
3 e 4
5 e 6

In [45]:
#Dicionário em python
D = {'a': 1, 'b': 2, 'c': 3}
for chave in D:
  print(chave,"=>",D[chave])

a => 1
b => 2
c => 3

In [8]:
list(range(100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [10]:
for i in range(5):
  print(i,"pythons")

0 pythons
1 pythons
2 pythons
3 pythons
4 pythons

In [33]:
S = 'Arthur Barreto'
print("Tamanho da palavra:", len(S))
for i in range(len(S)):
  print(i,S [i],sep='-',end=' ')

Tamanho da palavra: 14
0-A 1-r 2-t 3-h 4-u 5-r 6-  7-B 8-a 9-r 10-r 11-e 12-t 13-o

#Uso do Zip

In [47]:

L1 = ['a','b','c','d']
L2 = [1,2,3,4]
print(list(L1))
print(list(L2))
compactado = zip(L1,L2)
print(list(compactado))
print(type(compactado)) #qual o tipo de classe ?
print(type(list(zip(L1,L2))))
for (x,y) in list(zip(L1,L2)):
  print(x,"-",y)

['a', 'b', 'c', 'd']
[1, 2, 3, 4]
[('a', 1), ('b', 2), ('c', 3), ('d', 4)]
<class 'zip'>
<class 'list'>
a - 1
b - 2
c - 3
d - 4

In [50]:
#zip crie um dicionário a partir de listas
chaves = ['a','b','c','d']
valores = [1,2,3,4]
D1 = dict(zip(chaves,valores))
print(D1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Enumerate

In [54]:
s='Arthur'
print(enumerate(s))
print(list(enumerate(s)))
for (offset,valor) in enumerate(s):
  print(offset,valor)

<enumerate object at 0x7f8479b6ecc0>
[(0, 'A'), (1, 'r'), (2, 't'), (3, 'h'), (4, 'u'), (5, 'r')]
0 A
1 r
2 t
3 h
4 u
5 r